<div class="master-wrapper">

    <style type="text/css">
        .tabsdemoDynamicHeight md-content {
            background-color: transparent !important;
        }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

        .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
            background: black;
        }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }
        ng-md-icon svg {
            transform: translate3d(0, 25%, 0);
        }
    </style>

    <!-- Tracker -->
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index-2.html">Webmarket</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="about-us.html">My Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="container tabsdemoDynamicHeight">
        <div class="push-up blocks-spacer">
            <div class="row">

                <aside class="span3">
                    <md-content md-border-bottom>
                        <md-tabs >
                            <md-tab label="Profile">
                                <md-content class="md-padding">
                                    <md-card>
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">Card with image</span>
                                                <span class="md-subhead">Large</span>
                                            </md-card-title-text>
                                            <md-card-title-media>
                                                <div class="md-media-lg card-media"></div>
                                            </md-card-title-media>
                                        </md-card-title>
                                        <md-card-actions layout="row" layout-align="end center">
                                            <md-button>Action 1</md-button>
                                            <md-button>Action 2</md-button>
                                        </md-card-actions>
                                    </md-card>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </aside>

                <!-- Right side -->
                <section class="span9">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="My Account">
                                <md-content class="md-padding" ng-controller="AccountController">
                                    <h3><span class="light">My</span> Account</h3>
                                    <md-button ng-show="isEdit" class="md-raised md-primary" ng-click="acceptInfoUser()">Đồng ý</md-button>
                                    <md-button ng-show="isEdit" class="md-accent" ng-click="cancelInfoUser()">Hủy</md-button>
                                    <md-button ng-hide="isEdit" class="md-raised md-warn" ng-click="editInfoUser()">Sửa</md-button>
                                    <md-list>
                                        <md-list-item class="secondary-button-padding" ng-click="editInfoUser()">
                                            <ng-md-icon icon="account_box" ></ng-md-icon>
                                            <input ng-show="isEdit" ng-model="InfoUser.userEmail">
                                            <p ng-hide="isEdit">{{InfoUser.userName}}</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding" ng-click="editInfoUser()">
                                            <ng-md-icon icon="email"></ng-md-icon>
                                            <input ng-show="isEdit" ng-model="InfoUser.userEmail">
                                            <span ng-hide="isEdit">{{InfoUser.userEmail}}</span>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding" ng-click="editInfoUser()">
                                            <ng-md-icon icon="smartphone"></ng-md-icon>
                                            <input ng-show="isEdit" ng-model="InfoUser.userEmail">
                                            <span ng-hide="isEdit">{{InfoUser.userNumberphone}}</span>
                                        </md-list-item>
                                    </md-list>
                                    <md-button ng-show="isEdit" class="md-raised md-primary" ng-click="acceptInfoUser()">Đồng ý</md-button>
                                    <md-button ng-show="isEdit" class="md-accent" ng-click="cancelInfoUser()">Hủy</md-button>
                                    <md-button ng-hide="isEdit" class="md-raised md-warn" ng-click="editInfoUser()">Sửa</md-button>
                                </md-content>
                            </md-tab>
                            <md-tab label="My Cart">
                                <md-content class="md-padding">
                                    <h3><span class="light">My</span> Cart</h3>
                                    <md-list ng-cloak >
                                        <md-input-container class="md-block">
                                            <label>Search</label>
                                            <input md-maxlength="30" ng-model="project.description">
                                        </md-input-container>
                                        <md-list-item ng-repeat="cart in Carts" class="secondary-button-padding">
                                            <p> {{ cart }} </p>
                                            <md-checkbox ng-model="cart.wanted"></md-checkbox>
                                        </md-list-item>
                                        <md-divider></md-divider>
                                    </md-list>
                                </md-content>
                            </md-tab>
                            <md-tab label="My Order">
                                <md-content class="md-padding">
                                    <h3><span class="light">My</span> Orders</h3>
                                    <md-list ng-controller="ListCtrl" ng-cloak >
                                        <md-input-container class="md-block">
                                            <label>Search</label>
                                            <input md-maxlength="30" ng-model="project.description">
                                        </md-input-container>
                                        <md-list-item ng-repeat="topping in toppings" class="secondary-button-padding">
                                            <p> {{ topping.name }} </p>
                                            <md-checkbox ng-model="topping.wanted"></md-checkbox>
                                        </md-list-item>
                                        <md-divider></md-divider>
                                    </md-list>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </section>
            </div>
        </div>
    </div>
</div>