<div ng-controller="IndexController">
    <!--  Newest -->
    <div class="boxed-area blocks-spacer">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                        <h2 class="title"><span class="light">New</span> Products in the Shop</h2>
                    </div>
                </div>
            </div>
            <div class="row popup-products blocks-spacer">
                <div class="span3" ng-repeat="product in lstNewProducts">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="/products/{{product.product.productId}}"><img ng-src="{{'../../' +  product.product.productImage}}" imageonload alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a href="/products/{{product.product.productId}}" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">${{product.product.productPrice}}</h4>
                                <h5 class="no-margin">{{product.product.productName}}</h5>
                            </div>
                            <div>
                                <!-- <p class="desc">{{product.productDescribe}}</p> -->
                            </div>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Discounting -->
    <div class="most-popular blocks-spacer">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                        <h2 class="title"><span class="light">Most</span> Popular Products</h2>
                    </div>
                </div>
            </div>
            <div class="row popup-products">
                <div class="span3" ng-repeat="product in lstDiscountProducts">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="/products/{{product.product.productId}}"><img ng-src="{{'../../' + product.product.productImage}}" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="/products/{{product.product.productId}}" class="btn more btn-primary">More</a>
                                        <a href="/products/{{product.product.productId}}" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">${{product.product.productPrice}}</h4>
                                <h5 class="no-margin">{{product.product.productName}}</h5>
                            </div>
                            <!-- <p class="desc">{{product.productDescribe}}</p> -->
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Brains -->
    <div class="container blocks-spacer-last">

        <div class="row">
            <div class="span12">
                <div class="main-titles lined">
                    <h2 class="title"><span class="light">Our</span> Brands</h2>
                    <div class="arrows">
                        <a class="clickable  icon-chevron-left" id="brandsLeft"></a>
                        <a class="clickable  icon-chevron-right" id="brandsRight"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="brands  carouFredSel" data-nav="brands" data-autoplay="true">
                    <a href="http://www.proteusthemes.com/"><img src="../../resources/images/dummy/brands/brands_01.jpg" alt="" width="203" height="104" /></a>
                    <a href="http://www.proteusthemes.com/"><img src="../../resources/images/dummy/brands/brands_02.jpg" alt="" width="203" height="104" /></a>
                    <a href="http://www.proteusthemes.com/"><img src="../../resources/images/dummy/brands/brands_03.jpg" alt="" width="203" height="104" /></a>
                    <a href="http://www.proteusthemes.com/"><img src="../../resources/images/dummy/brands/brands_04.jpg" alt="" width="203" height="104" /></a>
                    <a href="http://www.proteusthemes.com/"><img src="../../resources/images/dummy/brands/brands_05.jpg" alt="" width="203" height="104" /></a>
                    <a href="http://www.proteusthemes.com/"><img src="../../resources/images/dummy/brands/brands_06.jpg" alt="" width="203" height="104" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
