<md-content flex="200" layout-padding class="dialog-login" ng-class="{'dialog-signup' : !isLogin}">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="registerModalLabel" ng-hide="isLogin"><span class="light">Register</span></h3>
            <h3 id="loginModalLabel" ng-show="isLogin"><span class="light">Login</span> To Webmarket</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <md-input-container>
                    <label class="control-label hidden shown-ie8">Username</label>
                    <div class="controls">
                        <input ng-model="user.username" name="username" required>
                        <div ng-messages="headerFields.username.$error" ng-if="headerFields.username.$dirty" role="alert" multiple>
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </div>
                    </md-input-container>
                </div>
                <div class="control-group">
                    <md-input-container>
                        <label class="control-label hidden shown-ie8">Email</label>
                        <div class="controls">
                            <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email" ng-model="user.email" name="email" required>
                        </div>
                    </md-input-container>
                </div>
                <div class="control-group">
                    <md-input-container>
                        <label class="control-label hidden shown-ie8" for="inputPasswordRegister">Password</label>
                        <div class="controls">
                            <input type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password" ng-model="user.password" name="password" required>
                        </div>
                    </md-input-container>
                </div>
                <md-button class="btn btn-danger input-block-level bold higher" ng-hide="loading" ng-class="{'md-raised md-primary' : isLogin}" ng-click="login()">Login</md-button>

                <md-button ng-hide="loading" ng-class="{'md-raised md-primary' : !isLogin}" ng-click="signup()">Sign Up</md-button>

                <md-progress-circular ng-show="loading" md-mode="indeterminate"></md-progress-circular>
            </form>
        </div>
</md-content>