<div ng-controller="ForgotpasswordController">
	<div layout-gt-sm="row">
		<form name="headerFields">
			<p>{{messages}}</p>
			<md-input-container >
				<label>Password</label>
				<input type="password" placeholder="Password" ng-model="user.password" name="password" required>
				<div ng-messages="headerFields.password.$error" ng-if="headerFields.password.$dirty" role="alert" multiple>
					<div ng-message="required">This field is required.</div>
				</div>       
			</md-input-container>
			<md-input-container>
				<label>Confirm Password</label>
				<input type="password" ng-model="user.confirmPassword" name="confirmPassword" required>
				<div ng-messages="headerFields.confirmPassword.$error" ng-if="headerFields.confirmPassword.$dirty" role="alert" multiple>
					<div ng-message="required">This field is required.</div>
				</div>
			</md-input-container>
			<md-button ng-hide="loading" ng-class="{'md-raised md-primary'}" ng-click="resetPassword()"></md-button>
		</form>
</div>
</div>