<div class="container" ng-controller="ForgotpasswordController">
    <div class="push-up blocks-spacer">
        <div align="center">
            <br/> <br/>
            <h3><span class="light">Forgot</span> password</h3>
            <form name="headerFields">
             <div ng-show="isForgot">
                <md-input-container >
                <label >Email</label>
                <input type="email" placeholder="Email" ng-model="user.email" required>
                <div ng-messages="projectForm.clientName.$error">
                 <div ng-message="required">This is required.</div>
             </div>
         </md-input-container>
     </div>
     <div>
       {{messages}}
   </div>
   <md-button class="md-raised md-primary" ng-click="resetPassword()">Gởi mail</md-button>
</form>
</div>
</div>
</div>