<div class="container" ng-controller="ForgotpasswordController">
<div class="push-up blocks-spacer">
	<div layout-gt-sm="row">
		<form name="headerFields">
			<div ng-show="isForgot">
                <md-input-container >
                    <label >Email</label>
                        <input type="email" placeholder="Email" ng-model="user.email" ng-pattern="/[A-Z0-9._%+-]+@[A-Z0-9-]+.+.[A-Z]{2,4}/igm" required>
                        <div ng-messages="projectForm.clientName.$error">
          					<div ng-message="required">This is required.</div>
        				</div>
                </md-input-container>
            </div>
            <div>
            	{{messages}}
            </div>
			<md-button class="md-raised md-primary" ng-click="resetPassword()">Gởi mail</md-button>
		</form>
	</div>
    </div>
</div>