<div class="container" ng-controller="ResetpasswordController">
	<div class="push-up blocks-spacer">
		<div align="center">
			<br/><br/><br/>
			<h3><span class="light">Reset</span> password</h3>
			<p>{{messages}}</p>
			<md-button class="md-raised md-primary" ng-click="verifyReset()" ng-hide="verify">Xác nhận</md-button>
			<form name="headerFields">
				<div  ng-show="verify">
					<md-input-container >
					<label>Password</label>
					<input type="password" placeholder="Password" ng-model="user.password" name="password"  minlength="6" maxlength="20" required>
					<div ng-messages="headerFields.password.$error" ng-if="headerFields.password.$dirty" role="alert" multiple>
						<div ng-message="required">Yêu cầu nhập</div>
					</div>       
				</md-input-container>
			</div>
			<div ng-show="verify">
				<md-input-container>
				<label>Confirm Password</label>
				<input type="password" ng-model="user.confirmPassword" name="confirmPassword" required>
				<div ng-messages="headerFields.confirmPassword.$error" ng-if="headerFields.confirmPassword.$dirty" role="alert" multiple>
					<div ng-message="required">Không được bỏ trống</div>
				</div>
			</md-input-container>
		</div>
		<md-button class="md-raised md-primary" ng-click="resetPassword()"  ng-show="verify">Đặt lại mật khẩu</md-button>
	</form>
</div>
</div>

</div>