<div class="master-wrapper" ng-controller="DetailProductController">

    <!-- Start header -->
    <header id="header">
        <!-- header -->
        <div class="darker-row">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="higher-line">
                            Wellcome! Please
                            <a href="#registerModal" role="button" data-toggle="modal">Register</a> or
                            <a href="#loginModal" role="button" data-toggle="modal">Login</a>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="topmost-line">

                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick information site -->
        <div class="container">
            <div class="row">
                <div class="span7">
                    <a class="brand" href="/">
                        <img src="../../resources/images/logo.png" alt="Webmarket Logo" width="48" height="48" />
                        <span class="pacifico">Shop Online</span>
                        <span class="tagline">Buy and enjoy best services</span>
                    </a>
                </div>

                <div class="span5">
                    <div class="top-right">
                        <div class="icons">
                            <a href="http://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
                            <a href="skype:heocon1803?call"><span class="zocial-skype"></span></a>
                            <a href="https://twitter.com/proteusnetcom"><span class="zocial-twitter"></span></a>
                            <a href="http://eepurl.com/xFPYD"><span class="zocial-rss"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Start menu -->
    <div class="navbar navbar-static-top" id="stickyNavbar">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="span9">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="nav-collapse collapse">
                            <ul class="nav" id="mainNavigation">
                                <li><a href="/"> Home </a></li>
                                <li class="dropdown dropdown-supermenu">
                                    <a href="" class="dropdown-toggle"> Brains <b class="caret"></b> </a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="brand in brands"><a href="/products/{brand.brandId}">{{brand.brandName}}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle"> Categories <b class="caret"></b> </a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="category in categories"><a href="/products/{category.categoryId}">{{category.categoryName}}</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>

                            <!-- Search -->
                            <form class="navbar-form pull-right" action="#" method="get">
                                <button type="submit"><span class="icon-search"></span></button>
                                <input type="text" class="span1" name="search" id="navSearchInput">
                            </form>
                        </div>
                    </div>

                    <!-- Cart -->
                    <div class="span3">
                        <div class="cart-container" id="cartContainer">
                            <div class="cart">
                                <p class="items">CART <span class="dark-clr">(3)</span></p>
                                <p class="dark-clr hidden-tablet">$1816.90</p>
                                <a href="checkout-step-1.html" class="btn btn-danger">

                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </div>
                            <div class="open-panel">
                                <div class="item-in-cart clearfix">
                                    <div class="image">
                                        <img src="../../resources/images/dummy/cart-items/cart-item-1.jpg" width="124" height="124" alt="cart item" />
                                    </div>
                                    <div class="desc">
                                        <strong><a href="product.html">Adipiscing Vel Vel Felis</a></strong>
                                        <span class="light-clr qty">
                                            Qty: 1
                                            &nbsp;
                                            <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                        </span>
                                    </div>
                                    <div class="price">
                                        <strong>$5914</strong>
                                    </div>
                                </div>
                                
                                <div class="summary">
                                    <div class="line">
                                        <div class="row-fluid">
                                            <div class="span6">Subtotal:</div>
                                            <div class="span6 align-right size-16">$357.81</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="proceed">
                                    <a href="/order/checkout-step-1" class="btn btn-danger pull-right bold higher">CHECKOUT <i class="icon-shopping-cart"></i></a>
                                    <small>Shipping costs are calculated based on location. <a href="#">More information</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index-2.html">Webmarket</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="shop.html">Shop</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="#">Horsefeathers</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="product.html">Horsefeathers Shot Surfers T-shirt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- detail product -->
    <div class="container">
        <div class="push-up top-equal blocks-spacer">

            <div class="row blocks-spacer">

                <div class="span5">
                    <div class="product-preview">
                        <div class="picture">
                            <img src="../../{{detailProduct.product.productImage}}" alt="" width="940" height="940" id="mainPreviewImg" />
                        </div>
                        <div class="thumbs clearfix">
                            <div class="thumb active" ng-repeat="image in detailProduct.listImages">
                                <a href="#mainPreviewImg"><img src="../../{{image}}" alt="" width="940" height="940" /></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span7">
                    <div class="product-title">
                        <h1 class="name">{{detailProduct.product.productName}}</h1>
                        <div class="meta">
                            <span class="tag">$ {{detailProduct.product.productPrice}}</span>
                            <span class="stock">
                                <span class="btn btn-success">In Stock</span>
                                <span class="btn btn-danger">Out of Stock</span>
                                <span class="btn btn-warning">Ask for availability</span>
                            </span>
                        </div>
                    </div>
                    <div class="product-description">
                        <p>{{detailProduct.product.productDescribe}}</p>
                        <hr/>

                        <form action="#" class="form form-inline clearfix">
                            <div class="numbered">
                                <input type="text" name="num" value="1" class="tiny-size" />
                                <span class="clickable add-one icon-plus-sign-alt"></span>
                                <span class="clickable remove-one icon-minus-sign-alt"></span>
                            </div>
                            &nbsp;
                            <select name="color" class="span2">
                                <option value="-1">Select Color</option>
                                <option ng-repeat="color in detailProduct.listColor" value="{{color.colorId}}">{{color.colorName}}</option>

                            </select>
                            &nbsp;
                            <select name="size" class="span2">
                                <option value="-1">Select Size</option>
                                <option ng-repeat="size in detailProduct.listSize" value="{{size.sizeId}}">{{size.sizeName}}</option>
                            </select>
                            <button class="btn btn-danger pull-right" ng-click="addToCart()"><i class="icon-shopping-cart"></i> &nbsp; Add To Cart</button>
                        </form>
                        <hr/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <ul id="myTab" class="nav nav-tabs" ng-cloak>
                        <li>
                            <a href="#tab-3" data-toggle="tab">COMMENTS</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="fade tab-pane" id="tab-3">
                            <p>Empty
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related product -->
    <div class="boxed-area no-bottom">
        <div class="container">

            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                        <h2 class="title"><span class="light">Related</span> Products</h2>
                    </div>
                </div>
            </div>

            <!-- Related product -->
            <div class="row popup-products">

                <div class="span3" ng-repeat="product in lstProductRelated">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="#"><img src="../../{{product.product.productImage}}" alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a class="btn more btn-primary" href="#">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title"><span class="striked">${{product.product.productPrice}}</span> <span class="red-clr">$29</span></h4>
                                <h5 class="no-margin">{{product.product.productName}}</h5>
                            </div>
                            
                            <p class="center-align stars">
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

        <div class="foot-light">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h2 class="pacifico">Webmarket &nbsp; <img src="../../resources/images/webmarket.png" alt="Webmarket Cart" class="align-baseline"/></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum risus et gravida. Etiam vel augue ligula, blandit malesuada nisi. Quisque a augue nisi. Nullam interdum convallis </p>
                    </div>
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title">Facebook</h3>
                        </div>
                        <div class="bordered">
                            <div class="fill-iframe">
                                <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Newsletters</span> Signup</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum risus et gravida.</p>

                        <div id="mc_embed_signup">
                            <form action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate>
                                <div class="mc-field-group">
                                    <input type="email" value="" placeholder="Enter your e-mail address" name="EMAIL" class="required email" id="mce-EMAIL">
                                    <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="foot-last">
            <a href="#" id="toTheTop">
                <span class="icon-chevron-up"></span>
            </a>
            <div class="container">
                <div class="row">
                    <div class="span6">
                        &copy; Copyright 2013. Images of products by <a target="_blank" href="http://www.horsefeathers.eu/">Horsefeathers</a>.
                    </div>
                    <div class="span6">
                        <div class="pull-right">Webmarket HTML Template by <a href="http://www.proteusthemes.com/">ProteusThemes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
