<div ng-controller="DetailProductController">
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index-2.html">Webmarket</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="shop.html">Shop</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="#">Horsefeathers</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="product.html">Horsefeathers Shot Surfers T-shirt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- detail product -->
    <div class="container">
        <div class="push-up top-equal blocks-spacer">

            <div class="row blocks-spacer">

                <div class="span5">
                    <div class="product-preview">
                        <div class="picture">
                            <img src="../../{{detailProduct.product.productImage}}" alt="" width="940" height="940" id="mainPreviewImg" />
                        </div>
                        <div class="thumbs clearfix">
                            <div class="thumb active" ng-repeat="image in detailProduct.listImages">
                                <a href="#mainPreviewImg"><img src="../../{{image}}" alt="" width="940" height="940" /></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span7">
                    <div class="product-title">
                        <h1 class="name">{{detailProduct.product.productName}}</h1>
                        <div class="meta">
                            <span class="tag">$ {{detailProduct.product.productPrice}}</span>
                            <span class="stock">
                                <span class="btn btn-success">In Stock</span>
                                <span class="btn btn-danger">Out of Stock</span>
                                <span class="btn btn-warning">Ask for availability</span>
                            </span>
                        </div>
                    </div>
                    <div class="product-description">
                        <p>{{detailProduct.product.productDescribe}}</p>
                        <hr/>

                        <form class="form form-inline clearfix">
                            <div class="numbered">
                                <input type="text" name="num" class="tiny-size" ng-model="qty" />
                                <span class="clickable add-one icon-plus-sign-alt" ng-click="qty = qty + 1"></span>
                                <span class="clickable remove-one icon-minus-sign-alt" ng-click="qty = qty > 1 ? qty - 1 : qty"></span>
                            </div>
                            &nbsp;
                            <select name="color" class="span2" ng-model="selected.color">
                                <option value="-1">Select Color</option>
                                <option ng-repeat="color in detailProduct.listColor"  value="{{color}}">{{color.colorName}}</option>
                            </select>
                            &nbsp;
                            <select name="size" class="span2" ng-model="selected.size">
                                <option value="-1">Select Size</option>
                                <option ng-repeat="size in detailProduct.listSize"  value="{{size}}">{{size.sizeName}}</option>
                            </select>
                            <button class="btn btn-danger pull-right" ng-click="AddCartDetail(detailProduct.product.productId,selected.size, selected.color, qty)"><i class="icon-shopping-cart"></i> &nbsp; Add To Cart</button>
                        </form>
                        <hr/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <ul id="myTab" class="nav nav-tabs" ng-cloak>
                        <li>
                            <a href="#tab-3" data-toggle="tab">COMMENTS</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="fade tab-pane" id="tab-3">
                            <p>Empty
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related product -->
    <div class="boxed-area no-bottom">
        <div class="container">

            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                        <h2 class="title"><span class="light">Related</span> Products</h2>
                    </div>
                </div>
            </div>

            <!-- Related product -->
            <div class="row popup-products">

                <div class="span3" ng-repeat="product in lstProductRelated">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="#"><img src="../../{{product.product.productImage}}" alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a class="btn more btn-primary" href="#">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title"><span class="striked">${{product.product.productPrice}}</span> <span class="red-clr">$29</span></h4>
                                <h5 class="no-margin">{{product.product.productName}}</h5>
                            </div>
                            
                            <p class="center-align stars">
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
