<div class="container">
    <div class="row">

        <section class="span12">
            <div class="checkout-container">
                <div class="row">
                    <div class="span10 offset1">
                    <br/>
                        <header>
                            <div class="row">
                                <div align="center">
                                    <div class="center-align">
                                        <h1><span class="light">Thông</span> &amp; người nhận</h1>
                                    </div>
                                </div>
                            </div>
                        </header>

                        <div class="checkout-steps">
                            <div class="clearfix">
                                <div class="step done">
                                    <div class="step-badge"><i class="icon-ok"></i></div>
                                    <a href="" ng-click="goTo('ShopOnline/order/checkout-step-1')">Giỏ hàng</a>
                                </div>
                                <div class="step active">
                                    <div class="step-badge">2</div>
                                    Thông tin người nhận
                                </div>
                                <div class="step">
                                    <div class="step-badge">3</div>
                                    Phương thức thanh toán
                                </div>
                                <div class="step">
                                    <div class="step-badge">4</div>
                                    Xác nhận &amp; Thanh toán
                                </div>
                            </div>
                        </div>
                        
                        <div>
                          <form name="userForm" class="form-horizontal form-checkout">

                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Họ tên người nhận</label>
                                <input ng-model="reciepient.recipientName">
                              </md-input-container>

                            <div>
                                <md-input-container class="md-block">
                                  <label>Số nhà tên đường</label>
                                  <input ng-model="reciepient.recipientAddress" name="address" type="text" >
                                  <div class="hint">Ví dụ: 59/K3 Cộng Hòa</div>
                                    <div ng-messages="userForm.address.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">Yêu cầu nhập địa chỉ</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                  <label>Số điện thoại</label>
                                  <input ng-model="reciepient.recipientPhoneNumber" name="phone" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" required>
                                  <div class="hint">Ví dụ: 0987654321</div>
                                  <div ng-messages="userForm.phone.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">Yêu cầu nhập số điện thoại</div>
                                    <div ng-message="pattern" class="my-message">Yêu cầu là số
                                  </div>
                                </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                  <label>Email người nhận</label>
                                  <input ng-model="reciepient.recipientEmail" type="email">
                                  <div class="hint">Ví dụ: example@abc.df</div>
                                </md-input-container>
                            </div>
                            
                            <div layout-gt-sm="row">
                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Tỉnh/Thành phố</label>
                                <md-select ng-model="cityId" name="city" required>
                                  <md-option ng-repeat="city in lstCities()" value="{{cities.cityId}}">
                                    {{city.cityName}}
                                  </md-option>
                                </md-select>
                                <div ng-messages="userForm.city.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">Yêu cầu chọn tỉnh thành phố</div>
                                </div>
                              </md-input-container>
                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Quận/Huyện</label>
                                <md-select ng-model="reciepient.districtId"  name="district" required>
                                  <md-option ng-repeat="district in districts" value="{{district.districtId}}">
                                    {{district.districtName}}
                                  </md-option>
                                </md-select>
                                <div ng-messages="userForm.district.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">Yêu cầu chọn quận huyện</div>
                                </div>
                              </md-input-container>
                              
                            </div>
                          
                        <p class="right-align">
                            Bạn sẽ chọn phương thức thanh toán bước kế tiếp &nbsp; &nbsp;
                            <a href="" ng-click="goTo('/ShopOnline/order/checkout-step-3')" class="btn btn-primary higher bold" ng-show="CheckStep2()">Tiếp tục</a>
                        </p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>