<div class="container" ng-controller="Checkout1Controller">
    <div class="row">

        <section class="span12">
            <div class="checkout-container">
                <div class="row">
                    <div class="span10 offset1">

                        <header>
                            <div class="row">
                                <div class="center-align">
                                    <h1><span class="light">Giỏ hàng</span> </h1>
                                </div>
                            </div>
                        </header>

                        <div class="checkout-steps">
                            <div class="clearfix">
                                <div class="step active">
                                    <div class="step-badge">1</div>
                                    Giỏ hàng
                                </div>
                                <div class="step">
                                    <div class="step-badge">2</div>
                                    Thông tin người nhận
                                </div>
                                <div class="step">
                                    <div class="step-badge">3</div>
                                    Phương thức thanh toán
                                </div>
                                <div class="step">
                                    <div class="step-badge">4</div>
                                    Xác nhận &amp; Thanh toán
                                </div>
                            </div>
                        </div>

                        <table class="table table-items">
                            <thead>
                                <tr>
                                    <div class="align-left">
                                        <th colspan="2">Sản phẩm</th>
                                    </div>
                                    
                                    <th>
                                        <div> Màu </div>
                                    </th>
                                    <th>
                                        <div > Kích cỡ </div>
                                    </th>
                                    <th>
                                        <div > Số lượng</div>
                                    </th>
                                    <th>
                                        <div class="align-right">Giá</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in cart">
                                    <td class="image"><img src="../../{{product.product.productImage}}" alt="" width="124" height="124" /></td>
                                    <td class="desc">{{product.product.productName}} &nbsp;
                                        <a title="Remove Item" class="icon-remove-sign" ng-click="EditCart(product.product.productId)"></a>
                                    </td>
                                    <td >&nbsp;
                                        <select name="color" class="span2" ng-model="product.color">
                                            <option ng-repeat="color in product.listColor"  value="{{color}}">{{color.colorName}}</option>
                                        </select>
                                    </td>
                                    <td >&nbsp;
                                        <select name="size" class="span2" ng-model="product.size">
                                            <option ng-repeat="size in product.listSize"  value="{{size}}">{{size.sizeName}}</option>
                                        </select>
                                    </td>
                                    <td class="qty">
                                        <input type="text" class="tiny-size" ng-change="UpdateCart()" ng-model="product.qty" />
                                    </td>
                                    <td class="price">
                                        <span >${{product.product.productPrice * product.qty}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr/>
                        <p class="right-align">
                            Bước kế tiếp bạn sẽ nhập địa chỉ người nhận &nbsp; &nbsp;
                            <a ng-click="goTo('ShopOnline/order/checkout-step-2')" class="btn btn-primary higher bold">Tiếp tục</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
