<div class="container">
    <div class="row">

        <section class="span12">
            <div class="checkout-container">
                <div class="row">
                    <div class="span10 offset1">
                        <br/>
                        <header>
                            <div class="row">
                                <div class="center-align">
                                    <h1><span class="light">Phương thức </span> thanh toán</h1>
                                </div>
                            </div>
                        </header>

                        <div class="checkout-steps">
                            <div class="clearfix">
                                <div class="step done">
                                    <div class="step-badge"><i class="icon-ok"></i></div>
                                    <a href="" ng-click="goTo('ShopOnline/order/checkout-step-1')">Giỏ hàng</a>
                                </div>
                                <div class="step done">
                                    <div class="step-badge"><i class="icon-ok"></i></div>
                                    <a href="" ng-click="goTo('ShopOnline/order/checkout-step-2')">Thông tin người nhận</a>
                                </div>
                                <div class="step active">
                                    <div class="step-badge">3</div>
                                    Phương thức thanh toán
                                </div>
                                <div class="step">
                                    <div class="step-badge">4</div>
                                    Xác nhận &amp; Thanh toán
                                </div>
                            </div>
                        </div>

                        <span class="btn btn-danger circle pull-left"><i class="icon-chevron-down"></i></span>
                        <div class="shifted-left-45 clearfix">
                            <h3 class="no-margin"><span class="light">Credit</span> Card</h3>
                            <p class="push-down-30">Thanh toán qua thẻ tín dụng</p>
                         
                            <form name="userForm">
                                <div layout-gt-sm="row">
                                  <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tên chủ thẻ</label>
                                    <input >
                                  </md-input-container>
                                  <md-input-container class="md-block" flex-gt-sm>
                                    <label>Họ chủ thẻ</label>
                                    <input >
                                  </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Mã số thẻ</label>
                                  <input >
                                </md-input-container>
                                 
                                <md-datepicker ng-model="user.submissionDate" md-placeholder="Ngày hết hạn" >
                                    </md-datepicker>
                                </div>
                              </form>
                        </div>
                        <hr/>
                        <span class="btn btn-danger circle pull-left"><i class="icon-chevron-right"></i></span>
                        <div class="shifted-left-45 clearfix">
                            <h3 class="no-margin">
                                <span class="light">PayPal</span> &nbsp; &nbsp; &nbsp;
                                <a href="#"><img src="../../resources/images/buttons/paypal.gif" alt="PayPal" width="145" height="42"/></a>
                            </h3>
                        </div>
                        <hr/>

                        <p class="right-align">
                            Bạn sẽ chọn kiểm tra lại hóa đơn và tổng phí thanh toán bước kế tiếp &nbsp; &nbsp;
                            <a href="" ng-click="goTo('/ShopOnline/order/checkout-step-4')" class="btn btn-primary higher bold" >Tiếp tục</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>