<div class="row">

    <section class="span12">
        <div class="checkout-container">
            <div class="row">
                <div class="span10 offset1">

                    <header>
                        <div class="row">
                            <div class="center-align">
                                <h1><span class="light">Xác nhận</span> &amp; Thanh toán</h1>
                            </div>
                        </div>
                    </header>

                    <div class="checkout-steps">
                        <div class="clearfix">
                            <div class="step done">
                                <div class="step-badge"><i class="icon-ok"></i></div>
                                <a href="" ng-click="goTo('ShopOnline/order/checkout-step-1')">Giỏ hàng</a>
                            </div>
                            <div class="step done">
                                <div class="step-badge"><i class="icon-ok"></i></div>
                                <a href="" ng-click="goTo('ShopOnline/order/checkout-step-2')">Thông tin người nhận</a>
                            </div>
                            <div class="step done">
                                <div class="step-badge"><i class="icon-ok"></i></div>
                                <a href="" ng-click="goTo('ShopOnline/order/checkout-step-3')">Phương thức thanh toán</a>
                            </div>
                            <div class="step active">
                                <div class="step-badge">4</div>
                                Xác nhận &amp; Thanh toán
                            </div>
                        </div>
                    </div>



                    <table class="table table-items">
                        <thead>
                            <tr>
                                <th colspan="2">Sản phẩm</th>
                                <th>
                                    <div> Màu </div>
                                </th>
                                <th>
                                    <div > Kích cỡ </div>
                                </th>
                                <th>
                                    <div class="align-center">Số lượng</div>
                                </th>
                                <th>
                                    <div class="align-right">Giá</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in cart">
                                    <td class="image"><img src="../../{{product.product.productImage}}" alt="" width="124" height="124" /></td>
                                    <td class="desc">{{product.product.productName}} &nbsp;
                                        <a title="Remove Item" class="icon-remove-sign" ng-click="EditCart(product.product.productId)"></a>
                                    </td>
                                    <td >
                                        <span>{{product.listColor.colorName}}</span>
                                    </td>
                                    <td >
                                        <span>{{product.listSize.sizeName}}</span>
                                    </td>
                                    <td class="qty">
                                        <span >{{product.qty}}</span>
                                    </td>
                                    <td class="price">
                                        <span >${{product.product.productPrice * product.qty}}</span>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                                        <p class="right-align">
                                            <a ng-click="goTo('ShopOnline/')" ng-show="CheckStep4()" class="btn btn-primary higher bold">Xác nhận</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>