<div class="row">

    <section class="span12">
        <div class="checkout-container">
            <div class="row">
                <div class="span10 offset1">

                    <header>
                        <div class="row">
                            <div class="center-align">
                                <h1><span class="light">Xác nhận</span> &amp; Thanh toán</h1>
                            </div>
                        </div>
                    </header>

                    <div class="checkout-steps">
                        <div class="clearfix">
                            <div class="step done">
                                <div class="step-badge"><i class="icon-ok"></i></div>
                                <a href="" ng-click="goTo('ShopOnline/order/checkout-step-1')">Giỏ hàng</a>
                            </div>
                            <div class="step done">
                                <div class="step-badge"><i class="icon-ok"></i></div>
                                <a href="" ng-click="goTo('ShopOnline/order/checkout-step-2')">Thông tin người nhận</a>
                            </div>
                            <div class="step done">
                                <div class="step-badge"><i class="icon-ok"></i></div>
                                <a href="" ng-click="goTo('ShopOnline/order/checkout-step-1')">Phương thức thanh toán</a>
                            </div>
                            <div class="step active">
                                <div class="step-badge">4</div>
                                Xác nhận &amp; Thanh toán
                            </div>
                        </div>
                    </div>



                    <table class="table table-items">
                        <thead>
                            <tr>
                                <th colspan="2">Item</th>
                                <th>
                                    <div class="align-center">Quantity</div>
                                </th>
                                <th>
                                    <div class="align-right">Price</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="image"><img src="images/dummy/cart-items/cart-item-1.jpg" alt="" width="124" height="124" /></td>
                                <td class="desc">Adidas Converse Lorem Ipsum Dolor sit</td>
                                <td class="qty">
                                    2 </td>
                                    <td class="price">
                                        $59
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image"><img src="images/dummy/cart-items/cart-item-2.jpg" alt="" width="124" height="124" /></td>
                                    <td class="desc">Adidas Converse Lorem Ipsum Dolor sit</td>
                                    <td class="qty">
                                        4 </td>
                                        <td class="price">
                                            $59
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="image"><img src="images/dummy/cart-items/cart-item-3.jpg" alt="" width="124" height="124" /></td>
                                        <td class="desc">Adidas Converse Lorem Ipsum Dolor sit</td>
                                        <td class="qty">
                                            2 </td>
                                            <td class="price">
                                                $59
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="image"><img src="images/dummy/cart-items/cart-item-4.jpg" alt="" width="124" height="124" /></td>
                                            <td class="desc">Adidas Converse Lorem Ipsum Dolor sit</td>
                                            <td class="qty">
                                                1 </td>
                                                <td class="price">
                                                    $59
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="image"><img src="images/dummy/cart-items/cart-item-5.jpg" alt="" width="124" height="124" /></td>
                                                <td class="desc">Adidas Converse Lorem Ipsum Dolor sit</td>
                                                <td class="qty">
                                                    4 </td>
                                                    <td class="price">
                                                        $59
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" rowspan="2">
                                                        &nbsp;
                                                    </td>
                                                    <td class="stronger">Shipping:</td>
                                                    <td class="stronger">
                                                        <div class="align-right">$4.99</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="stronger">Subtotal:</td>
                                                    <td class="stronger">
                                                        <div class="size-16 align-right">$357.81</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="right-align">
                                            <a href="index-2.html" class="btn btn-primary higher bold">CONFIRM &amp; PAY</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>