<!DOCTYPE html>
<html lang="en" ng-app="appShopOnline">
<head>
  <title>Webmarket HTML Template - Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ProteusThemes">
  
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Open+Sans:400,700,400italic,700italic:latin,latin-ext,cyrillic', 'Pacifico::latin']
      }
    };
    (function () {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <!--  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> -->
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" />

  <link href="resources/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="resources/stylesheets/responsive.css" rel="stylesheet">
  
  <link rel="stylesheet" href="resources/js/rs-plugin/css/settings.css" type="text/css" />
  
  <link rel="stylesheet" href="resources/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />
  
  <link rel="stylesheet" href="resources/js/prettyphoto/css/prettyPhoto.css" type="text/css" />
  
  <link href="resources/stylesheets/main.css" rel="stylesheet">
  
  <script src="resources/js/modernizr.custom.56918.js"></script>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="resources/images/apple-touch/144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="resources/images/apple-touch/114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="resources/images/apple-touch/72.png">
  <link rel="apple-touch-icon-precomposed" href="resources/images/apple-touch/57.png">
  <link rel="shortcut icon" href="resources/images/apple-touch/57.png">
  <!-- AngularJs Lib -->
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/angular-aria/angular-aria.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/angular-messages/angular-messages.js"></script>
  <script src="node_modules/angular-cookies/angular-cookies.js"></script>
  <script src="node_modules/angular-material/angular-material.js"></script>
  <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>

  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="app.services.js"></script>

  <script src="sections/home/home.ctrl.js"></script>
  <script src="sections/account/account.ctrl.js"></script>
  <script src="sections/order/order.ctrl.js"></script>
  <script src="sections/product/product.ctrl.js"></script>
  <!-- <script src="sections/home/product.services.js"></script> -->
  <script src="sections/authentication/authentication.ctrl.js"></script>


</head>
<body >
  <div ng-controller="GlobalController">
  <!-- Start header -->
    <header id="header">
      <!-- header -->
      <div class="darker-row">
        <div class="container">
          <div class="row">
            <div class="span4">
              <div class="higher-line">
                <span >Xin chào!</span>
                <span ng-show="checkCookiesLogined()">{{user.userName}}, </span>
                <a role="button" href="" ng-show="checkCookiesLogined()" ng-click="logout()"> Đăng xuất</a>
                <a role="button" href="" data-toggle="modal" ng-hide="checkCookiesLogined()" ng-click="showLoginSignUpDialog()">  Vui lòng, Đăng nhập</a>
              </div>
            </div>
            <div class="span8">
              <div class="topmost-line">

                &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Quick information site -->
      <div class="container">
        <div class="row">
          <div class="span7">
            <a class="brand" href="/">
              <img src="../../resources/images/logo.png" alt="Webmarket Logo" width="48" height="48" />
              <span class="pacifico">Shop Online</span>
              <span class="tagline">Buy and enjoy best services</span>
            </a>
          </div>

          <div class="span5">
            <div class="top-right">
              <div class="icons">
                <a href="http://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
                <a href="skype:heocon1803?call"><span class="zocial-skype"></span></a>
                <a href="https://twitter.com/proteusnetcom"><span class="zocial-twitter"></span></a>
                <a href="http://eepurl.com/xFPYD"><span class="zocial-rss"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!-- Start menu -->
    <div class="navbar navbar-static-top" id="stickyNavbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span9">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div class="nav-collapse collapse">
                <ul class="nav" id="mainNavigation" style="margin-top:10px;">
                  <li><a href="#/ShopOnline/shop"> Shop </a></li>
                  <li class="dropdown dropdown-supermenu" >
                    <a href="" class="dropdown-toggle"> Thương hiệu <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="brand in brands"><a href="/#/ShopOnline/products/brand/{{brand.brandId}}">{{brand.brandName}}</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle"> Phân loại <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="category in categories"><a href="/#/ShopOnline/products/category/{{category.categoryId}}">{{category.categoryName}}</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Thông tin</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
                <!-- Search -->
                <div layout="row">
                  <md-input-container class="md-block" flex-gt-sm>
                  <label>Phân loại</label>
                    <md-select ng-model="search.categoryId">
                      <md-option ng-repeat="category in categories" value="{{category.categoryId}}">
                        {{category.categoryName}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                  <label>Tìm kiếm</label>
                    <input ng-model="search.nameProduct" ng-keyup="$event.keyCode == 13 && search(search.categoryId, search.nameProduct)">
                  </md-input-container>
                </div>
              </div>
            </div>

            <!-- Cart -->
            <div class="span3">
              <div class="cart-container" id="cartContainer">
                <div class="cart">
                  <p class="items">Giỏ <span class="dark-clr">({{cart.length}})</span></p>
                  <p class="dark-clr hidden-tablet">${{Total() | number:0}}</p>
                  <a href="goTo('/ShopOnline/order/checkout-step-1')" class="btn btn-danger">

                    <i class="icon-shopping-cart"></i>
                  </a>
                </div>
                <div class="open-panel">
                  <div class="item-in-cart clearfix" ng-repeat="product in cart">
                    <div class="image">
                      <img ng-src="../../{{product.product.productImage}}" width="124" height="124" alt="cart item" />
                    </div>
                    <div class="desc">
                      <strong><a href="#/ShopOnline/products/{{product.product.productId}}">{{product.product.productName}}</a></strong>
                      <span class="light-clr qty">
                        Qty: {{product.qty}}
                        &nbsp;
                        <a ng-click="EditCart(product.product.productId)" class="icon-remove-sign" title="Remove Item"></a>
                      </span>
                    </div>
                    <div class="price">
                      <strong>${{ product.product.productPrice * product.qty | number:0}}</strong>
                    </div>
                  </div>

                  <div class="summary">
                    <div class="line">
                      <div class="row-fluid">
                        <div class="span6">Phí tổng:</div>
                        <div class="span6 align-right size-16">${{Total() | number:0}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="proceed">
                    <a ng-click="goTo('/ShopOnline/order/checkout-step-1')" class="btn btn-danger pull-right bold higher">CHECKOUT <i class="icon-shopping-cart"></i></a>
                    <small>Shipping costs are calculated based on location. <a href="#">More information</a></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-view class="master-wrapper"></div>
  <!-- Footer -->
    <footer>

      <div class="foot-light">
        <div class="container">
          <div class="row">
            <div class="span4">
              <h2 class="pacifico">Webmarket &nbsp; <img src="../../resources/images/webmarket.png" alt="Webmarket Cart" class="align-baseline"/></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum risus et gravida. Etiam vel augue ligula, blandit malesuada nisi. Quisque a augue nisi. Nullam interdum convallis </p>
            </div>
            <div class="span4">
              <div class="main-titles lined">
                <h3 class="title">Facebook</h3>
              </div>
              <div class="bordered">
                <div class="fill-iframe">
                  <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="main-titles lined">
                <h3 class="title"><span class="light">Newsletters</span> Signup</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum risus et gravida.</p>

              <div id="mc_embed_signup">
                <form action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate>
                  <div class="mc-field-group">
                    <input type="email" value="" placeholder="Enter your e-mail address" name="EMAIL" class="required email" id="mce-EMAIL">
                    <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="foot-last">
        <a href="" id="toTheTop">
          <span class="icon-chevron-up"></span>
        </a>
        <div class="container">
          <div class="row">
            <div class="span6">
              &copy; Copyright 2013. Images of products by <a target="_blank" href="http://www.horsefeathers.eu/">Horsefeathers</a>.
            </div>
            <div class="span6">
              <div class="pull-right">Webmarket HTML Template by <a href="http://www.proteusthemes.com/">ProteusThemes</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  if (typeof jQuery == 'undefined') {
    document.write('<script src="resources/js/jquery.min.js"><\/script>');
  }
</script>

<script src="resources/js/underscore/underscore-min.js" type="text/javascript"></script>

<script src="resources/js/bootstrap.min.js" type="text/javascript"></script>

<script src="resources/js/rs-plugin/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
<script src="resources/js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>

<script src="resources/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>

<script src="resources/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="resources/js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>

<script src="resources/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>

<script src="resources/js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>

<script src="resources/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&amp;sensor=false"></script>
<script type="text/javascript" src="resources/js/goMap/js/jquery.gomap-1.3.2.min.js"></script>

<script src="resources/js/custom.js" type="text/javascript"></script>
</body>
</html>